<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/stylesheet.css">
</head>
<body>
    <div class="wrapper">
        <div class="navbar">
            <a class="nav" id="nav1" href="/">Home</a>
            <a class="nav" id="nav3" href="/contact">Contact</a>
            <a class="nav" id="nav3" href="/projects">Projects</a>
        </div>
        <h1>Contact me!</h1>
            <form class="myform" action="/action_page.php" method="get">
                <p class="gah">Name:</p> <input class="form_name" type="text" name="fname"><br>
                <p class="gah">Email:</p> <input class="form_email" type="text" name="lname"><br>
                <p class="gah">Message:</p> <input class="form_message" type="textarea" rows="10" cols="50" name="para"><br>
                <input type="submit" value="Submit">
            </form>
    </div>
</body>
</html>