<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/stylesheet.css">
</head>
<body>
    <div class="wrapper">
        <div class="navbar">
            <a class="nav" id="nav1" href="/">Home</a>
            <a class="nav" id="nav3" href="/contact">Contact</a>
            <a class="nav" id="nav3" href="/projects">Projects</a>
        </div>
        <h1>About me</h1>
        <div class="content">
            <div class="profile">
                <div class="profilepic"></div>
                <p class="name name1">Charmander</p>
                <p class="name">Best Pokemon</p>
            </div>
            <div class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt et dui sit amet ultrices. Donec quis tellus est. Fusce efficitur bibendum sapien sit amet aliquet. Vivamus turpis orci, egestas varius varius a, ornare id velit. Aenean vel mi viverra, tincidunt massa eu, euismod felis. Duis imperdiet sed magna ut ullamcorper. Maecenas nec libero non neque faucibus maximus. Phasellus eget tempus ipsum, a ultricies nisl. Sed congue efficitur sollicitudin. Pellentesque ut felis in tortor tempor sollicitudin. Aliquam non felis sit amet elit efficitur iaculis sit amet et nulla. Pellentesque hendrerit porttitor nisl et imperdiet. Curabitur tristique congue tortor eu cursus. Curabitur a sapien sed nulla lacinia posuere.</div>
        </div>
    </div>
</body>
</html>