<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/stylesheet.css">
</head>
<body>
    <div class="wrapper">
        <div class="navbar">
            <a class="nav" id="nav1" href="/">Home</a>
            <a class="nav" id="nav3" href="/contact">Contact</a>
            <a class="nav" id="nav3" href="/projects">Projects</a>
        </div>
        <h1>Here are some projects of mine!</h1>
        <div class="content cprojects">
            <div class="projects">
                <div class="project">
                    <div class="project_img"></div>
                    <div class="project_text">
                        <h2>Title!</h2>
                        <p class="project_innerhtml">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean imperdiet rhoncus augue sit amet tempor. Sed nulla nisi, porttitor sit amet tellus id, tincidunt tempor dolor. Donec ante felis, semper.</p>
                    </div>
                </div>
                <div class="project">
                    <div class="project_img"></div>
                    <div class="project_text">
                        <h2>Title!</h2>
                        <p class="project_innerhtml">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean imperdiet rhoncus augue sit amet tempor. Sed nulla nisi, porttitor sit amet tellus id, tincidunt tempor dolor. Donec ante felis, semper.</p>
                    </div>
                </div>
                <div class="project">
                    <div class="project_img"></div>
                    <div class="project_text">
                        <h2>Title!</h2>
                        <p class="project_innerhtml">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean imperdiet rhoncus augue sit amet tempor. Sed nulla nisi, porttitor sit amet tellus id, tincidunt tempor dolor. Donec ante felis, semper.</p>
                    </div>
                </div>
                <div class="project">
                    <div class="project_img"></div>
                    <div class="project_text">
                        <h2>Title!</h2>
                        <p class="project_innerhtml">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean imperdiet rhoncus augue sit amet tempor. Sed nulla nisi, porttitor sit amet tellus id, tincidunt tempor dolor. Donec ante felis, semper.</p>
                    </div>
                </div>

            </div>

        </div>
</body>
</html>